@model IEnumerable<Homepage.Models.SACH>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Mã Sách
            </th>
            <th>
                Tên Sách
            </th>
            <th>
                Loại Bìa
            </th>
            <th>
                Ngày Xuất Bản
            </th>
            <th>
                Số Lượng Tồn
            </th>
            <th>
                Số Trang
            </th>
            <th>
                Kích Thước
            </th>
            <th>
                Mô Tả
            </th>
            <th>
                Mã Nhà Xuất Bản
            </th>
            <th>
                Mã Tác Gỉa
            </th>
            <th>
                Mã Nhà Cung Cấp
            </th>
            <th>
                Mã Thể Loại
            </th>
            <th>
                Khối Lượng
            </th>
            <th>
                Mã Bảng Gía
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_SACH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEN_SACH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOAI_BIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAY_XUATBAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOLUONG_TON)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SO_TRANG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KICH_THUOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_NXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_TACGIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_NCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_THELOAI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KHOILUONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_BANGGIA)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit",new { id=item.ID_SACH }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_SACH }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_SACH })
            </td>
        </tr>
        <tr>
            @foreach(var image in item.ANHBIAs)
                {
                    <td>
                        <img src="@Url.Content(image.ANH)" width="100" height="100" />
                    </td>
                }
        </tr>
    }
    
    </table>
</body>
</html>
