@model Homepage.Models.SACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Book.cshtml";
}

<h2>Details</h2>
<div>
    <hr />
    <div class="container">
        <div class="product-view-contener">
            <div class="showleft">
                <div class="product-info">
                    <h1>@Html.DisplayFor(model => model.TEN_SACH)</h1>
                    <div class="groups">
                        <div class="viewfield">
                            <span>Tác giả: @Html.DisplayFor(model => model.TACGIA.TEN_TACGIA)</span>
                            <span>Phát hành: @Html.DisplayFor(model => model.NHAXUATBAN.TEN_NHAXUATBAN)</span>
                        </div>

                    </div>
                    <div class="prices-contener">
                        <div class="prices">
                            <div class="saleprices">
                                <span><b style="color:red; font-size:30px">@Html.DisplayFor(model => model.BANGGIA.GIA_BAN)</b> VND</span>
                            </div>

                        </div>
                        <div class="buy-button">
                            <a href="/ShoppingCart/AddToCart/@Html.DisplayFor(model=>model.ID_SACH)" class="btn btn-default">Bỏ vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="img-contener">
                <div class="mainimage">
                    <img src="~/Content/Images/@Html.DisplayFor(model => model.LOAI_BIA)" style="width: 250px"/>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="block-name"><b>@Html.DisplayFor(model => model.TEN_SACH)</b></div>
            <div class="block-detail">@Html.DisplayFor(model => model.MOTA)</div>
        </div>
    </div>
</div>

